# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Output files
output/
json_followings/

# Private data
network_logs/
*.har
input_followers.json
instagram_profile_links.json
user_followings_to_json_links.py

# OS files
.DS_Store 